<div class="container "  class="hero-area position-relative pb-0"id="about">
	<section class="bg-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="card public-profile border-0 rounded shadow" style="z-index: 1;">
						<div class="card-body">
							<div class="row align-items-center">
								<div class="col-lg-3 col-md-4 text-md-start">
									<div class="about-details key-feature bg-light">
										<div class="media-body content">
											<h6 class="title mb-2">Personal Details</h6>
											<div class="bor-bottom mt-2 mb-2"></div>
											<p class="text-muted mb-2 mt-3 font-14"><a href="javascript:void(0)" class="text-black">Email:</a> dschandra2003@gmail.com</p>
											<p class="text-muted mb-2 font-14"><a href="javascript:void(0)" class="text-black">Languages: </a> English,Hindi,Telugu</p>
											<p class="text-muted mb-0 font-14"><a href="javascript:void(0)" class="text-black">Nationality: </a> Indian</p>  
										</div>
									</div>
								</div>

								<div class="col-lg-9 col-md-8">
									<div class="row align-items-end">
										<div class="col-md-12 text-md-start mt-4 mt-sm-0">
											<h4 class="heading me-2">I Am <span class="element text-primary tw"> </span>
												<span id="typed" class="text-primary"></span>
											</h4>
											<p class="text-light-muted mt-2">With 1.5+ years of experience in software engineering, I excel in building scalable and robust applications using React and Spring Boot. I thrive on solving complex problems and exploring new technologies. Passionate about continuous learning and innovation, I aim to leverage my skills to contribute to cutting-edge software solutions.</p>
											<img src="assets/images/signature.png" height="75" alt="">
										</div><!--end col-->
									</div><!--end row-->
								</div><!--end col-->
							</div><!--end row-->
						</div>
					</div>
				</div><!--end col-->
			</div><!--end row-->
		</div><!--end container-->
	</section><!--end section -->
