.bg-light {
  background: #f6f7fa;
  opacity: 1;
}
.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.bg-light {
  background-color: #f8f9fa !important;
}

.rounded {
  border-radius: 10px !important;
}



.rounded-top {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
 
.content {
  display: table;
  height: 100%;
  width: 100%;
}

.card {
  margin: 0 auto;  /* This centers the card horizontally */
  margin-bottom: 20px;  /* Adds some vertical spacing between cards */
}



.title {
  font-size: 36px;
  text-transform: capitalize;
  margin: 0 0 5px;
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 
.card {
  display: block; 
    margin-bottom: 30px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
    cursor:pointer;
    height: 600px;
    width: 100%;
    position: relative;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height: 250px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 250px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding: 20px;
  text-align: left;
  height: calc(100% - 250px - 50px); /* Subtract image height and read-more height */
  overflow-y: auto;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}

.card-read-more .btn-link .btn-block .btn a:hover {
  color: black !important;
}

.card-subtitle {
  margin-top:0px;
  font-weight: 700;
}

.card-subcontent p {
  margin: 0;
}

.btn-link:hover {
  color: black !important;
}

