<section class="wrapper bg-light section" id="projects">
    <div class="container-fostrap">
        <div class="row justify-content-center">
            <div class="container-title text-center mb-4 pb-2">
              <h2 class="title text-capitalize mb-4">
                My Projects
              </h2>
            </div>
          </div>    
        <div class="content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card" >
                            <a class="img-card" href="#">
                            <img src="https://do6gp1uxl3luu.cloudfront.net/projects/devtinder.webp">
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    DevTinder- Social Connection Platform
                                </h4>
                                <p class="">
                                    A matchmaking platform that allows users to create profiles, browse and connect with potential matches, and interact through real-time chat.</p>
                                <div class="card-subcontent">
                                    <p><span class="card-subtitle">Technologies used :</span>
                                    </p>
                                    <p>
                                        <span class="card-subtitle">Frontend : </span>React Js 
                                    </p>
                                    <p>
                                        <span class="card-subtitle">Backend : </span>Node Js
                                    </p>
                                    <p>
                                        <span class="card-subtitle">DataBase : </span>MongoDB
                                    </p>
                                </div>
                            </div>
                            <div class="card-read-more">
                                <a class="btn btn-link btn-block" href="https://github.com/SarathChandra21/tinder-clone">
                                    Github <i class="bi bi-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="#">
                            <img src="https://s3-figma-hubfile-images-production.figma.com/hub/file/carousel/img/96170e95937607e0c8dbbe951b7b1d2f30e67fe2">
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    Food ordering app
                                </h4>
                                <p class="">
                                     Built a food ordering application using React and Swiggy APIs, implementing JSX, React Hooks, and React
 Router for smooth user navigation. Created a responsive UI with Tailwind CSS, integrated Redux Toolkit for state management, and tested
 components using Jest.</p>
                                <div class="card-subcontent">
                                    <p><span class="card-subtitle">Technologies used :</span>
                                    </p>
                                    <p>
                                        <span class="card-subtitle">Frontend : </span> React, Express
                                    </p>
                                </div>
                            </div>
                            <!-- <div class="card-read-more">
                                <a class="btn btn-link btn-block" href="https://github.com/Saketh143/Hotel_Website">
                                    Github <i class="bi bi-github"></i>
                                </a>
                            </div> -->
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
