.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
} 

.contact-detail .content .title {
    font-weight: 600;
  }
  .contact-loader {
    display: none;
  }
  .container-title .titles .title {
    color: #161c2d;
    font-weight: 600;
    font-size: 30px;
  }
  @media (max-width: 768px) {
    .navbar-custom .container {
      width: 90%;
    }
  }
  .pera-title {
    font-size: 15px;
  }
  .media-body .title {
    font-weight: 600;
    font-size: 18px;
  }
  .para-desc-600 {
    max-width: 600px;
  }
  .text-light-muted {
    color: #8492a6 !important;
  }
  .text-primary {
    color: #007bff !important;
  }
  /* .form-group .icons {
    position: absolute;
    top: 36px;
    left: 18px;
  }
  
  .form-group {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .form-group .form-control {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    height: 43px;
    font-size: 14px;
    color: #161c2d;
    background: #ffffff;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 6px 20px;
  } */
  
.border {
    border: 1px solid #e9ecef !important;
  }
  
  
  
  /* .form-group textarea {
    height: 192px !important;
  }
  
  .error {
    margin: 8px 0px;
    display: none;
    color: #d6374a;
  } */
/*   
  #ajaxsuccess {
    font-size: 16px;
    width: 100%;
    display: none;
    clear: both;
    margin: 8px 0px;
  }
  
  .error_message {
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid #d6374a;
    color: #d6374a;
    border-radius: 5px;
    font-size: 14px;
  }
  

  
  #success_page {
    text-align: center;
    margin-bottom: 50px;
  }
  
  #success_page h3 {
    color: #25b865;
  } */
 .xyz{
     padding-bottom: 2%;
 }

 .content a {
   text-decoration: none;
 }  

 .content .text-primary:hover {
  color: black !important;
}  

.icon i {
  font-size: 24px;
  color: black;
}
