<!-- Experience -->
<div class="section experience" id="experience-section">
  <div class="title">
        <h2 class="heading-1">
          Experience
        </h2>
    <span class="circle">
        <fa-icon [icon]="fa_briefcase" class="icon"></fa-icon>
      </span>
  </div>
  <div class="cd-timeline">
    <div class="cd-timeline-block animated">
      <div class="cd-timeline-point">
        <i class="icon ion ion-ios-checkmark-empty"></i>
        <div class="icon">
          <fa-icon [icon]="fa_check" class="icon"></fa-icon>
        </div>
        
      </div>
      <div class="cd-timeline-content">
        <div class="content-box">
          <div class="date">2024</div>
          <div class="name">
            SDE - II
            <p style="float:right;display:block">March 2024 - present</p>
          </div>
          
          <div class="category">MasterCard</div>
          <p>
            Developed and successfully launched a web application for analyzing high-volume financial transactions, enabling theme-based search and bulk data export. 


          </p>
          <p> Led the frontend development of the TI Plus application, architecting the React project from scratch.Implemented asynchronous in-memory caching for 80K+ records, optimizing performance by reducing response times, database load, and eliminating frequent timeouts.</p>
          <p>Led server provisioning, Apache configuration, CI/CD pipeline implementation, and HashiVault setup, streamlining deployment processes and improving system reliability.</p>
          <p>Implemented asynchronous in-memory caching for 80K+ records, optimizing performance by reducing response times, database load, and eliminating frequent timeouts.</p>
          <p>Developed and optimized REST APIs within a microservice architecture using Spring Boot, implementing Gzip compression for efficient data transfer, refactoring code for maintainability, and improving SonarQube coverage for better code quality.</p>
        </div>
      </div>
    </div>
    <div class="cd-timeline-block animated">
      <div class="cd-timeline-point">
        <div class="icon">
          <fa-icon [icon]="fa_check" class="icon"></fa-icon>
        </div>

      </div>
      <div class="cd-timeline-content">
        <div class="content-box">
          <div class="date">2022</div>
          <div class="name">
            SDE - I
            <p style="float:right;display:block">July 2022- Feb 2024</p>
          </div>
          
          <div class="category">MasterCard</div>
          <p>
            Led the development of SiteMetrics, a React application showcasing user journey metrics through interactive graphs and tables. Conducted POCs on Angular for dashboard integration and utilized libraries like AG Grid, React Query, and Chart.js. Actively contributed to cross-functional team collaboration and OI Labs, delivering innovative solutions.
          </p>
        </div>
      </div>
    </div>
    <div class="cd-timeline-block animated">
      <div class="cd-timeline-point">
        <div class="icon">
          <fa-icon [icon]="fa_check" class="icon"></fa-icon>
        </div>

      </div>
      <div class="cd-timeline-content">
        <div class="content-box">
          <div class="date">2021</div>
          <div class="name">
            SDE Intern
            <p style="float:right;display:block">2 months</p>
          </div>
          <div class="category">MasterCard</div>
          <p>
            Engineered dynamic user interfaces using Angular for the Procman Status Screen.Designed and implemented a comprehensive homepage and detailed process monitoring views, ensuring clear and efficient status tracking across the application.
          </p>
        </div>
      </div>
    </div>
   
  </div>
</div>