<!-- Experience -->
<div class="section experience" id="experience-section">
  <div class="title">
        <h2 class="heading-1">
          Experience
        </h2>
    <span class="circle">
        <fa-icon [icon]="fa_briefcase" class="icon"></fa-icon>
      </span>
  </div>
  <div class="cd-timeline">
    <div class="cd-timeline-block animated">
      
    </div>
    <div class="cd-timeline-block animated">
      <div class="cd-timeline-point">
        <div class="icon">
          <fa-icon [icon]="fa_check" class="icon"></fa-icon>
        </div>

      </div>
      <div class="cd-timeline-content">
        <div class="content-box">
          <div class="date">2024</div>
          <div class="name">
            SDE - I
            <p style="float:right;display:block">June 2024 - present</p>
          </div>
          
          <div class="category">MasterCard</div>
          <p>• Developed key components of AutoCRQ, a Spring Boot-based automation tool that streamlines release
 preparation for Mastercard’s Forge and RaCE ecosystems, reducing manual CRQ creation time by 80% and
 boosting team release velocity by 30%.</p>
 <p>• Developed and deployed Forwarding Apps for Linux and Artifactory logging across 100+ hosts, and managed
 Splunk systems handling 800GB/day of data.</p>
 <p>• Collaborated with cross-functional teams to engineer an automated alert resolution system by developing a Jenkins
 job integrated with Splunk, reducing manual intervention by 60%.</p>
 <p>• Improved performance by 25% by migrating 50+ TB of Splunk data and functionality to new hardware using a
 phased approach, ensuring 100% data integrity and uninterrupted search capabilities.</p>
 <p>• Led the separation of the PRTG Core Server to enable horizontal scaling, resulting in enhanced system
 performance and reduced server load by 33%.</p>
 <p>• Designed indexer clustering strategies to achieve 99.9% availability and fault tolerance across the indexers,
 and served as Subject Matter Expert (SME) for Splunk.</p>
 <p>• Implemented an internal app to automatically fetch PRTG sensors paused for over 24 hours and notify respective
 teams, ensuring timely action and preventing missed critical incidents; the solution is actively used by 10+ teams.</p>
 <p>• Improved production incident detection by 90% by developing a custom C# utility leveraging the PRTG API to
 integrate real-time monitoring and alerting for Bitbucket systems.</p>
 <p>• Built Node.js backend APIs enabling real-time user sessions and UI interactions for Mastercard’s SFF2025
 showcase, enhancing engagement for 85,000+ global attendees.</p>


        </div>
      </div>
    </div>
    <div class="cd-timeline-block animated">
      <div class="cd-timeline-point">
        <div class="icon">
          <fa-icon [icon]="fa_check" class="icon"></fa-icon>
        </div>

      </div>
      <div class="cd-timeline-content">
        <div class="content-box">
          <div class="date">2023</div>
          <div class="name">
            SDE Intern
            <p style="float:right;display:block">2 months</p>
          </div>
          <div class="category">Chronus, Hyderabad</div>
          <p>• Developed a full-stack web application, Doubts Solver, using Ruby on Rails, featuring personalized user feeds, fol
low/unfollow functionality with AJAX, and a bootstrap-based design.</p>
<p>• Created an admin dashboard with visual analytics for over 100 users using Chartkick, integrated Elasticsearch with
 prefetchers for 2x performance improvement, and added email notifications via Action Mailer.</p>
<p>• Conducted UI testing using Cucumber, ensuring robust application functionality and user experience.</p>
        </div>
      </div>
    </div>
   
  </div>
</div>