/* You can add global styles to this file, and also import other style files */


@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap");
.bg-half-120 {
  padding: 120px 0;
  background-size: cover;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
  background-position: center center;
  background-image: url('./assets/images/home-shape.png') !important;
}
body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden !important;
  font-size: 16px;
  color: #161c2d;
}